Source: ros-verystable-camera-calibration-parsers
Section: misc
Priority: optional
Maintainer: Michael Carroll <michael@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-verystable-ament-cmake-gtest, ros-verystable-ament-cmake-ros, ros-verystable-ament-lint-auto, ros-verystable-ament-lint-common, ros-verystable-rclcpp, ros-verystable-sensor-msgs, ros-verystable-yaml-cpp-vendor, ros-verystable-ros-workspace
Homepage: http://ros.org/wiki/camera_calibration_parsers
Standards-Version: 3.9.2

Package: ros-verystable-camera-calibration-parsers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-verystable-rclcpp, ros-verystable-sensor-msgs, ros-verystable-yaml-cpp-vendor, ros-verystable-ros-workspace
Description: camera_calibration_parsers contains routines for reading and writing camera calibration parameters.
