Source: ros-turbulent-camera-info-manager
Section: misc
Priority: extra
Maintainer: Michael Carroll <michael@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-turbulent-ament-cmake-gtest, ros-turbulent-ament-cmake-ros, ros-turbulent-ament-lint-auto, ros-turbulent-ament-lint-common, ros-turbulent-camera-calibration-parsers, ros-turbulent-image-transport, ros-turbulent-rclcpp, ros-turbulent-sensor-msgs, ros-turbulent-ros-workspace
Homepage: http://ros.org/wiki/camera_info_manager
Standards-Version: 3.9.2

Package: ros-turbulent-camera-info-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-turbulent-camera-calibration-parsers, ros-turbulent-image-transport, ros-turbulent-rclcpp, ros-turbulent-sensor-msgs, ros-turbulent-ros-workspace
Description: This package provides a C++ interface for camera calibration information.
 It provides CameraInfo, and handles SetCameraInfo service requests, saving and restoring the camera calibration data.
